.sidebar{
  width: 300px;
  /* display: flex; */
  /* flex-direction: column;  */
  /* background-color:#EDEDED; */
  background-color:#544D4D ;
  color: rgb(240, 240, 240);
  overflow-x: hidden;
   z-index: 1;
   top:0;
   left:0;
   position:fixed;
   height: 100vw;
   transition: 0.5s;
}

.hamburger{

  height: 40px;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  background-color: #544D4D;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  color: white;
  text-align: center;
  font-size: 25px;
  width: 0;
   transition: 0.5s;
   overflow-x: hidden;
}
.search{
  margin: 4px;
  height: 20px;
  width: 85%;
}

button{
  float: right;
  background-color:#544D4D;
  color: white;
  font-size: 16px;
  border: none;
 
}
#map{
  /* display:flex; */
  /* width: 100vw; */
}
ul{
 list-style-type: none;
margin: 2px;
padding: 0;
}
li {
display: block;
 padding: 5px;
 cursor: pointer;
 margin: 0;
}

li:hover {
  /* background-color: #555; */
  background-color: rgb(51, 49, 49);
  color: white;
}


.gm-style-iw {
  max-width: 300px !important;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 450px) {

.sidebar {
 width: 80vw;
 height: 100%;

}
.gm-style-iw {
  max-width: 70vw;
 
}
.gm-style .gm-style-iw{
 font-size: 17px;
}
button {
  font-size: 25px;
}
}
